<h1><%= @post.title %></h1>

<br> 
<p>Author:
<p><%= link_to @post.blogger.name, blogger_path(@post.blogger.id)%>

<p>Destination:
<p><%= link_to @post.destination.name, destination_path(@post.destination.id)%>

<p>Likes:
<p><%= @post.likes %>


<%= form_for @post do |f| %>
<%= f.hidden_field :likes, value: @post.add_like %>
<%= f.submit %>
<% end %>